   <tr key={eagle.num} class="hover:bg-gray-200">
      <td>
        {{num}}
      </td>
      <td>
        {{name}}
      </td>
      <td>
        {{bor}}
      </td>
      <td>
        {{year}}
      </td>
    </tr>