 <li class="mdl-list__item mdl-list__item--one-line">
	<span class="mdl-list__item-primary-content">
		<i class="material-icons mdl-list__item-avatar">{{type}}</i>
		<a href={{url}}> <span>{{title}}</span> </a>
	</span>
</li>

