---
title: About Troop 53
_options:
  layout: app/layouts/main.static.hbs
  partials: 
   - app/partials/gallery.static.hbs  

details:
 - { image: 'images/troop_53_neck-min.jpg', url: 'communityservice.html', desc: 'Volunteering in the Community' }
 - { image: 'images/troop_53_sign-min.jpg', url: 'outings.html', desc: 'Troop Outings and Events' }
 - { image: 'images/summer_camp.jpg', url: 'summercamp.html', desc: 'Summer Camp at Long Lake' }
 - { image: 'images/high_adventure.jpg', url: 'highadventure.html', desc: 'High Adventure Outings' }

---

<p>
Troop 53 is part of the South East Unit Service Area Serving youth in the school districts of 
New Berlin and Muskego</p>

<p>
We are chartered by Forest Park Presbyterian Church in New Berlin.  
We meet every Monday including through the the summer.  
Meetings are held at Forest Park Presbyterian Church, in the lower level community room, entering from the lower rear door.  
The meetings run from 7 PM until 8 PM.  
The troop was founded in 1972 and have earned the Journey to Excellence Gold Award for 2016.
</p>


<h4>More about Troop 53</h4>

{{#each details}}
		{{>gallery.static.hbs}}
{{/each}}

<div class="clearLeft"></div>

<h4>Interesting in joining?</h4>

<p>Any adults who would like to know more about the Scouting program and how it is designed to work, 
  are encouraged to enroll in New Leader Basic Training.  
  There are separate training sessions for Leaders or Committee Members.  
  Please see Rick Ryan for information. </p>
