---
title: About Troop 53
_options:
  layout: app/layouts/main.static.hbs
  partials: 
   - app/partials/slide.static.hbs  
   - app/partials/thumbnail.static.hbs  

gallery:
 - { image: "images/summer/T53-CLL-2017.jpg", num: 1, total: 11, alt: 'Camp Long Lake' }
 - { image: "images/summer/cll-ribbons-2014.jpg", num: 2, total: 11, alt: "Camp Wide Relay" }
 - { image: "images/summer/flag-ret-2.jpg", num: 3, total: 11, alt: "Flag Retirement" }
 - { image: "images/outings/canoe1.jpg", num: 4, total: 11, alt: "Canoeing Outing" }
 - { image: "images/outings/devilslake2.jpg", num: 5, total: 11, alt: "Devil's Lake State Park" }
 - { image: "images/adventure/t053-sb-a-welcome-to-sea-base-s.jpg", num: 6, total: 11, alt: "Florida Sea Base" }
 - { image: "images/adventure/t053-sb-d-training-s.jpg", num: 7, total: 11, alt: "Scuba Adventure" }
 - { image: "images/adventure/T053P-IMG_20130629_131427_081s.jpg", num: 8, total: 11, alt: "Philmont" }
 - { image: "images/adventure/T053P-IMG_0642s.jpg", num: 9, total: 11, alt: "Hiking at Philmont" }
 - { image: "images/volunteering/bearchair.jpg", num: 10, total: 11, alt: "Assisting in Cub Scout Events" }
 - { image: "images/volunteering/church.jpg", num: 11, total: 11, alt: "Charter Organization" }
---
<div class="flex flex-col md:flex-row items-center">
<div class="md:w-2/3 md:mr-8">

  <p class="font-bold mt-4 text-l uppercase">
    About Us
  </p>

  <p class="leading-loose pl-2 text-justify">
    Troop 53 serves youth in the greater New Berlin area and is chartered by
    Forest Park Presbyterian Church.  The troop is part of the Potawatomi Area Council.
  </p>
  <p class="font-bold mt-4 text-l uppercase">
    Weekly Meeting
  </p>
  <p class="leading-loose pl-2 text-justify">
    Mondays from 7:00 PM until 8:30 PM.
    <br />
    Held at Forest Park Presbyterian Church, in the lower level community room,
    enter from the lower rear door.
  </p>
</div>
<div class="w-2/3 md:w-1/3">
  <img src="../images/undraw_Camping_2g8w.svg" alt="Camping" />
</div>
</div>

<p class="font-bold mt-4 text-l uppercase">
History
</p>

<p class="leading-loose pl-2 text-justify">
Founded in 1972, the troop strives to leave a legacy within the community.
One of the legacies is the ever growing list of scouts that have earned
their Eagle which is scouting&apos;s highest rank.
</p>

<a href="eagles.html" class="link-btn link-btn-blue w-48">Eagle Scouts</a>

<p class="font-bold mt-4 text-l uppercase">
Leadership
</p>

<p class="leading-loose pl-2 text-justify">
The troop is a youth led troop but supported by trained adult leaders.
The training includes all BSA required training and optional training such as NYLT,
Wood Badge, Oakleaf, and other BSA training.
</p>

<a href="leaders.html" class="link-btn link-btn-blue w-48">Adult Leadership</a>

<p class="font-bold mt-4 text-l uppercase">
Activities
</p>

<p class="leading-loose pl-2 text-justify">
The troop attends Summer Camp each year and participates in high
adventures ranging from scuba diving at Sea Base, hiking at Philmont,
or canoeing in the Boundry Waters.
During the other months, the troop has outings such as weekend
tent camping, cabin camping, and volunteering in the local community.
</p>

<div class="relative w-7/8 md:w-2/3 self-center">
{{#each gallery}}
{{>slide.static.hbs}}
{{/each}}

<a class="absolute inset-y-0 left-0 prev inline-block h-full align-middle text-bsa-yellow px-2 py-24 text-bold text-3xl cursor-pointer"
  onclick="plusSlides(-1)">❮</a>
<a class="absolute inset-y-0 right-0 next inline-block h-full align-middle py-24 px-2 text-bsa-yellow text-bold text-3xl cursor-pointer"
  onclick="plusSlides(1)">❯</a>

<div class="text-center text-gray-200 text-center bg-bsa-blue py-2 px-2">
  <p id="caption"></p>
</div>

<div class="row flex h-8">
  {{#each gallery}}
  {{>thumbnail.static.hbs}}
  {{/each}}
</div>
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) { slideIndex = 1 }
  if (n < 1) { slideIndex = slides.length }
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex - 1].style.display = "block";
  dots[slideIndex - 1].className += " active";
  captionText.innerHTML = dots[slideIndex - 1].alt;
}
</script>