---
title: High Adventure
_options:
  layout: app/layouts/main.static.hbs
  partials: 
   - app/partials/photos.static.hbs  
photos:
 - { image: 'images/adventure/t053-sb-a-welcome-to-sea-base-s.jpg', desc: 'Welcome to Sea Base in the Florida Keys' }
 - { image: 'images/adventure/t053-sb-e-fsb-coral-reef-fleet-s.jpg', desc: 'The Sea Base Fleet' }
 - { image: 'images/adventure/t053-sb-d-training-s.jpg', desc: 'Dive Training at Sea Base' }
 - { image: 'images/adventure/t053-sb-french-grunts-on-davis-reef-s.jpg', desc: 'French Grunts on Davis Reef' }
 - { image: 'images/adventure/t053-sb-g-stingray-1-s.jpg', desc: 'Stingray' }
 - { image: 'images/adventure/T053P-IMG_20130629_131427_081s.jpg', desc: 'Welcome to Philmont Scout Ranch in New Mexico' }
 - { image: 'images/adventure/T053P-IMG_0642s.jpg', desc: 'Hiking the wilderness of New Mexico' }
 - { image: 'images/adventure/T053P-IMG_0687s.jpg', desc: 'Climbing at Philmont' }
---

<p>In 2003 our high adventure group became certified as Open Water Scuba Divers, 
  and now as Venture Crew 53 members, have performed more dives. 
  
  In the summer of 2005, we sent our first crew to the Scuba Adventure at Sea Base, 
  and attended again in the summers of 2007, 2009 and 2011.  
  In the summer 2008, we had 2 crews canoeing the Boundary Waters Canoe Area Wilderness in Minnesota.  
  The summer of 2012, we conducted a High Adventure Trip to Colorado, 
  including a stop at Yellowstone Park.  In June of 2013 we spent 10 days hiking the trails at Philmont Scout Ranch 
  in New Mexico for the first time since 1996.  
  The summer of 2014, we again attended Sea Base, and in 2015 had 2 crews canoeing the Boundary Waters.</p>

{{#each photos}}
		{{>photos.static.hbs}}
{{/each}}

<div class="clearLeft"></div>
