---
title: Welcome to BSA Troop 53!
_options:
  layout: app/layouts/main.static.hbs
---


<h4>New Berlin, Wisconsin</h4>
<p>Troop 53 is part of Potawatomi Area Council's South East Unit Service Area serving the youth in the school districts of New Berlin, Muskego, and West Allis.</p>

<h4>Upcoming Special Events</h4>
<ul class="mdl-list" id="events-upcoming">

</ul>

<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="calendar.html">
	View Calendar
</a>
	
    <script src="dist/format-google-calendar.min.js"></script>
    <script>
	var now = new Date().toISOString();
	var future = new Date().toISOString();

 	formatGoogleCalendar.init({
	calendarUrl: 'https://www.googleapis.com/calendar/v3/calendars/sahdeafo8sgihvvjjkh9qg6ut0@group.calendar.google.com/events?key=AIzaSyCR3-ptjHE-_douJsn8o20oRwkxt-zHStY',
	past: false,
	upcoming: true,
	sameDayTimes: true,
	dayNames: true,
	pastTopN: 2,
	upcomingTopN: 10,
	itemsTagName: 'li class="mdl-list__item mdl-list__item--two-line"',
	upcomingSelector: '#events-upcoming',
	pastSelector: '#events-past',
	recurringEvents: false, 
	upcomingHeading: '',
	pastHeading: '',
	format: ['<span class="mdl-list__item-primary-content"> <i class="material-icons mdl-list__item-avatar">event_note</i><a href="calendar.html"><span>', 
				'*summary*', 
				'</span></a><span class="mdl-list__item-sub-title">',
				'*date*', 
				'</span></span>'],
	timeMin: now,
	timeMax: '2025-06-03T10:00:00-07:00'
	});
</script>

