---
title: Welcome to BSA Troop 53!
_options:
  layout: app/layouts/main.static.hbs
---


<h4>New Berlin, Wisconsin</h4>
<p>Troop 53 is part of Potawatomi Area Council's South East Unit Service Area serving the youth in the school districts of New Berlin, Muskego, and part of West Allis.</p>


<h4>Upcoming Special Events</h4>
<ul class="mdl-list" id="special-events">
</ul>

<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="calendar.html">
	View Calendar
</a>
	<script src="app.js"></script>


