---
title: Home
_options:
  layout: app/layouts/main.static.hbs
---

      <div class="text-center">
        <img
          src='../images/undraw_into_the_night_vumi.svg'
          class="block mx-auto w-1/2"
          alt="Sitting by campfire"
        />

        <h2 class="text-2xl font-bold inline-block my-8 p-3">
          Welcome to New Berlin Scouts BSA Troop 53.
        </h2>

        <p class="leading-loose">
          New Berlin Troop 53 is part of Potawatomi Area Council and serves
           youth in the greater New Berlin area.
        </p>
        <div class="py-4">
          <a href="about.html" class="link-btn link-btn-blue">More about Troop 53</a>
        </div>
        <div>


          <h3 class="text-xl font-bold inline-block">
          Upcoming Special Events
          </h3>

          <div class="w-7/8 mx-auto md:w-2/3">
        <div class="bg-white shadow-md rounded my-6">
          <table>
            <thead>
              <tr>
                <th>Event</th>
                <th>Task</th>
              </tr>
            </thead>
            <tbody id="special-events">
            </tbody>
          </table>
        </div>
      </div>

        </div>
        <div class="py-2">
          <a href="calendar.html" class="link-btn link-btn-blue">View Calendar</a>
        </div>
      </div>

	<script src="app.js"></script>


