---
title: Troop 53 Adult Leadership
_options:
  layout: app/layouts/main.static.hbs
  partials: 
   - app/partials/leader.static.hbs
   - app/partials/scoutmaster.static.hbs
updated: '3-6-18'
leaders:
 - { name: 'Maureen Wise', position: 'Institutional Head' }
 - { name: 'Tracey Pomeroy', position: 'Chartered Organization Representative' }
 - { name: 'Rick Pomeroy', position: 'Troop Committee Chair' }
 - { name: 'Mary Bishop', position: 'Troop Committee Member' }
 - { name: 'Tim Buban', position: 'Troop Committee Member' }
 - { name: 'Sue Burtch', position: 'Troop Committee Member' }
 - { name: 'George Christenson', position: 'Troop Advancement Chair' }
 - { name: 'Pat Cliff', position: 'Troop Committee Member' }
 - { name: 'Donna Fisher', position: 'Troop Committee Member' }
 - { name: 'Paige Flanagan', position: 'Troop Committee Member' }
 - { name: 'Bill Giese', position: 'Troop Fundraising Chair' }
 - { name: 'Tony Goldner', position: 'Troop Committee Member' }
 - { name: 'Kevin Haass', position: 'Troop Committee Member' }
 - { name: 'Kevin Key', position: 'Troop Committee Member' }
 - { name: 'Ben Koenig', position: 'Troop Committee Member' }
 - { name: 'Suzie Koenig', position: 'Troop Committee Member' }
 - { name: 'Gina Koney', position: 'Troop Committee Member' }
 - { name: 'John Koney', position: 'Troop Committee Member' }
 - { name: 'Mike Miller', position: 'Troop Committee Member' }
 - { name: 'Tracey Pomeroy', position: 'Troop Secretary' }
 - { name: 'Darren Rausch', position: 'Troop Committee Member' }
 - { name: 'Rick Ryan', position: 'Troop Training Chair' }
 - { name: 'Greg Schmidt', position: 'Troop Committee Member' }
 - { name: 'Mary Schmidt', position: 'Troop Treasurer' }
 - { name: 'Jason Umbs', position: 'Troop Committee Member' }
 - { name: 'Clive Wells', position: 'Troop Outdoor/Activities Chair' }

scoutmasters:
 - { name: 'Brian Uhan', position: 'Scoutmaster' }
 - { name: 'Tim Bishop', position: 'Assistant Scoutmaster' }
 - { name: 'Roger Englund', position: 'Assistant Scoutmaster' }
 - { name: 'Duane Fisher', position: 'Assistant Scoutmaster' }
 - { name: 'Josh Fisher', position: 'Assistant Scoutmaster' }
 - { name: 'Brian Nelson', position: 'Assistant Scoutmaster' }
 - { name: 'Jim Pomeroy', position: 'Assistant Scoutmaster' }
 - { name: 'Bill Ryan', position: 'Assistant Scoutmaster' }
   
---
<h3>{{title}}</h3>

<h4>Troop Committee Members</h4>

<!-- Two Line List with secondary info and action -->
<style>
.demo-list-two {
	width: 400px;
}
</style>

<ul class="demo-list-two mdl-list">
  {{#each leaders}}
    {{>leader.static.hbs}}
  {{/each}}
</ul>

<h4>Troop Scoutmasters</h4>

<ul class="demo-list-two mdl-list">
  {{#each scoutmasters}}
    {{>scoutmaster.static.hbs}}
  {{/each}}
</ul>

Updated: {{updated}}		
