body {
    background-color: #f1e3b6;
}



div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 240px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height:  60%;
}

div.desc {
    padding: 15px;
    text-align: center;
}

  
  H2, H3, H1, H4, FOOTER { text-align: center }

  .mdl-list__item-avatar.material-icons {
    background-color: #f1e3b6;
    color: inherit;
    border-radius: 0;
    height: 100%;
  }

.resource-list {  
    margin: auto;
    width: 100%;
    padding: 10px;
 }
 .person-list { 
    margin: auto;
    width: 100%;
    padding: 10px;
  }

.clearLeft {
   clear: left; 
}