---
title: About Troop 53
_options:
  layout: app/layouts/main.static.hbs
  partials: 
   - app/partials/photos.static.hbs  
photos:
 - { image: 'images/outings/troop_53_sign2-min.jpg', desc: 'Welcome sign to our campsite' }
 - { image: 'images/outings/campseton.jpg', desc: 'Camping locally' }
 - { image: 'images/outings/campseton2.jpg', desc: 'Camping locally' }
 - { image: 'images/outings/canoe.jpg', desc: 'Paddling down the Wisconsin River' }
 - { image: 'images/outings/canoe1.jpg', desc: 'More paddling down the Wisconsin River' }
 - { image: 'images/outings/kohler_camping-min.jpg', desc: 'Taking in the view in Kohler' }
 - { image: 'images/outings/mauthelake2.jpg', desc: 'Mauthe Lake Recreation Area' }
 - { image: 'images/outings/mauthelake.jpg', desc: 'Hiking at Mauthe Lake' }
 - { image: 'images/outings/devilslake.jpg', desc: 'Devil's Lake State Park }
 - { image: 'images/outings/devilslake2.jpg', desc: 'Camping at Devil's Lake }
 - { image: 'images/outings/devilslake3.jpg', desc: 'Learning to cook in the outdoors' }
 - { image: 'images/outings/devilslake5.jpg', desc: 'The view at Devil's Lake' }
 - { image: 'images/outings/devilslake4.jpg', desc: 'Co-ed dance at Devil's Lake' }
---

<h4>Outings</h4>
<p>We are a very active troop, going on an outing every month.  When we aren't headed to summer
  camp or a high adventure, we are exploring Wisconsin and neighboring states.  Outings range
  from local, floating, or camping at one of the many state parks.  When the snow flies,
  we can often be found in a cabin or braving a tent.
</p>

{{#each photos}}
		{{>photos.static.hbs}}
{{/each}}

<div class="clearLeft"></div>
