---
title: About Troop 53
_options:
  layout: app/layouts/main.static.hbs
  partials: 
   - app/partials/photos.static.hbs  
photos:
 - { image: 'images/sff.png', desc: 'Scouting Food Drive' }
---

<h4>Outings</h4>
<p>We are a very active troop, going on an outing every month and to summer camp at Long Lake in July.  We had been meeting at Lost Arrow Campsite since the 1970's.  In 2014 we switched to Trail View.  In 2003 our high adventure group became certified as Open Water Scuba Divers, and now as Venture Crew 53 members, have performed more dives. </p>

{{#each photos}}
		{{>photos.static.hbs}}
{{/each}}

<div class="clearLeft"></div>
