---
title: Summer Camp
_options:
  layout: app/layouts/main.static.hbs
  partials: 
   - app/partials/photos.static.hbs  
photos:
 - { image: 'images/summer_camp.jpg', desc: 'Welcome to Camp Long Lake' }
 - { image: 'images/summer/T53-CLL-2017.jpg', desc: 'Troop 53 at Caomp Long Lake July 2017' }
 - { image: 'images/summer/flag-ret-1.jpg', desc: 'Scouts leading a flag retirement while at camp' }
 - { image: 'images/summer/flag-ret-2.jpg', desc: 'Scouts leading a flag retirement while at camp' }
 - { image: 'images/summer/cll-ribbons-2014.jpg', desc: 'Celebrating Camp Wide Relay Success!' }
---
<p>Every summer our Troop visits Camp Long Lake the second week of July for summer camp.  
  We had been meeting at Lost Arrow Campsite since the 1970's but in 2014 we switched to Trail View.  
  </p>

{{#each photos}}
		{{>photos.static.hbs}}
{{/each}}

<div class="clearLeft"></div>
